@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}

.header, .hero {
    background: #1F2937;
    color: #F9FAF8;
    padding: 50px; 
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 18px;
}

a {
    text-decoration: none;
}


.hero {
    display: flex;
    justify-content: space-around;  
    padding: 50px; 
    gap: 20px;
    flex: auto;
}

.hero.title {
    size: 48px;
    font-weight: 900;
}

.hero-image {
    width: 400px;
    flex-grow: 3;
}

h2 {
    text-align: center;
}


img {
    width: 200px;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.block {
    max-width: 200px;
}


.quote {
    background: #e5e7eb;
    size: 36px;
    font-style: italic;
    color: #1F2937
}


.sign-up {
    background-color: #3882F6;
}

.cta {
    background-color: #3882F6;
}




footer {
    height: 50px;
    background: #1F2937;
 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}