@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.header, .hero {
    background: #1F2937;
    color: #F9FAF8;
    padding: 50px; 
}

.header {
    display: flex;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 18px;
}

a {
    text-decoration: none;
}


.hero {
    display: flex;
    justify-content: space-around;  
    padding: 50px; 
    gap: 20px;
    flex: auto;
    text-align: left;
}

.hero.title {
    size: 48px;
    font-weight: 900;
}

.hero-image {
    width: 400px;
    
}

img {
    width: 150px;
}

.random {
    margin-top: 50px;
}

.blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 0px;
    gap: 40px;
}

.block {
    max-width: 200px;
}


.quote {
    background: #e5e7eb;
    size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px;
}

.signature {
    text-align: right;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    padding: 8px 16px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.cta {
    background-color: #3882F6;
    color: white;
    text-align: left;
    margin:50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
    
}

h2, p {
    margin: 0px;
    padding: 0px;
}



footer {
    height: 50px;
    background: #1F2937;
 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}